<section class="main-container">

  <div class="container">
    <div class="row">
      <div class="main col-md-8 col-lg-offset-1 col-md-push-4 col-lg-push-3">
        <% @lists.each do |item|%>

        <div class="col-sm-4">
          <div class="image-box style-2 mb-20 shadow bordered light-gray-bg text-center">
            <div class="overlay-container">



              <div class="overlay-to-top">
                <!-- <p class="small margin-clear"><em> <br> </em></p> -->
              </div>
            </div>
            <div class="body">
              <h3><%= item.book.title %></h3>
              <h4><%= item.book.author %></h4>
              <h4><%= item.book.genre %></h4>
              <img src="<%= item.book.image.link %>" alt="">
              <div class="separator"></div>
              <p>

              </p>
              <%= button_to "Remove from TBR", "/lists/#{item.id}", {method: :delete, class: "btn btn-danger btn-sm btn-hvr hvr-sweep-to-right margin-clear"} %>

            </div>
          </div>
        </div>
        <% end %>
      </div>
      <!-- sidebar start -->
      <!-- ================ -->
      <aside class="col-md-4 col-lg-3 col-md-pull-8 col-lg-pull-9">
        <div class="sidebar">
          <div class="block clearfix">
            <h4 class="title">Sidebar menu</h4>
            <div class="separator-2"></div>
            <nav>
              <ul class="nav nav-pills nav-stacked">
                <li class="active"><a href="/books">Home</a></li>
                <li><a href="/chatrooms/new">New Chat</a></li>
                <li><a href="/chatrooms">Chatrooms</a></li>
                <li><a href="/favorites">Favorite Books</a></li>
                <li><a href="/lists">To Read List</a></li>
              </ul>
            </nav>
          </div>
        </div>
      </aside>
    </div>
  </div>
</section>
