<div class="main col-md-8 space-bottom">


							<div class="contact-form">
                <%= form_tag("/messages/#{@message.id}", method: 'patch') do %>
								<form class="margin-clear" role="form">
									<div class="form-group has-feedback">

                    <div>
                    <%= label_tag(:title) %>
                    <%= text_field_tag(:title) %>
                    </div>

									</div>

									<div class="form-group has-feedback">

                    <%= label_tag(:content) %>
                    <%= text_field_tag(:content) %>


									</div>

									<input type="submit" value="Submit" class="submit-button btn btn-default">
								</form>
                <% end %>
							</div>
						</div>
