<!-- - main-container start -->
<!-- ================ -->
<section class="main-container">

  <div class="container">
    <div class="row">

      <!-- main start -->
      <!-- ================ -->
      <div class="main col-md-12">

        <!-- page-title start -->
        <!-- ================ -->
        <h1 class="page-title"><%= @message.title %></h1>
        <div class="separator-2"></div>
        <!-- page-title end -->

        <div class="row">
          <div class="col-md-4">
            <!-- pills start -->
            <!-- ================ -->
            <!-- Nav tabs -->
            <!-- <ul class="nav nav-pills" role="tablist">
              <li class="active"><a href="#pill-1" role="tab" data-toggle="tab" title="images"><i class="fa fa-camera pr-5"></i> Photo</a></li>

            </ul> -->
            <!-- Tab panes -->
            <div class="tab-content clear-style">
              <div class="tab-pane active" id="pill-1">
                <div class="owl-carousel content-slider-with-large-controls">
                  <div class="overlay-container overlay-visible">

                    <a href="images/product-1.jpg" class="popup-img overlay-link" title="image title"><i class="icon-plus-1"></i></a>
                  </div>

                </div>

              </div>
            </div>
            <div>

            </div>
            <!-- pills end -->
          </div>
          <div class="col-md-8 pv-30">
            <h2><%= @message.title %></h2>
            <p><%= @message.content %></p>
            <hr class="mb-10">
            <div class="clearfix mb-20">
              <span>
                <i class="fa fa-star text-default"></i>
                <i class="fa fa-star text-default"></i>
                <i class="fa fa-star text-default"></i>
                <i class="fa fa-star text-default"></i>
                <i class="fa fa-star"></i>
              </span>

            </div>
            <div class="row grid-space-10">
              <form role="form" class="clearfix">
                <div class="col-md-4">
                  <% if current_user  %>
                    <%= link_to "Edit", "/messages/#{@message.id}/edit", class: "btn btn-success" %>
                    <%= link_to "Delete", "/messages/#{@message.id}", {method: :delete, class: "btn btn-danger" }%>
                  <% end %>
                </div>

              </form>
            </div>

          </div>
        </div>
      </div>
      <!-- main end -->

    </div>
  </div>
</section>
<!-- main-container end -->
