<div class="container">
  <div class="text-center">
    <div id="logo" class="logo">
      <h3 class="margin-clear"><a href="/welcome">BookChatter</a></h3>
    </div>

    <div class="form-block center-block p-30 light-gray-bg border-clear text-left">
      <h2 class="title">Sign Up</h2>
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
          <%= devise_error_messages! %>

          <div class="form-group has-feedback form-horizontal">
            <div class="field">
              <%= f.label :email, :class => 'col-sm-3 control-label' %><br />
                <div class="col-sm-8">
              <%= f.email_field :email, autofocus: true, :class =>'form-control' %>
              </div>
            </div>
          </div>

          <br />

          <div class="form-group has-feedback">
            <div class="field">
              <%= f.label :password, :class => 'col-sm-3 control-label' %>
              <% if @minimum_password_length %>
                <em>(<%= @minimum_password_length %> characters minimum)</em>
              <% end %>
              <div class="col-sm-8">
                <%= f.password_field :password, autocomplete: "off", :class =>'form-control' %>
              </div>
            </div>
          </div>

          <br />

          <div class="form-group has-feedback">
            <div class="field">
              <%= f.label :password_confirmation, :class => 'col-sm-3 control-label'%><br />
              <div class="col-sm-8">
                <%= f.password_field :password_confirmation, autocomplete: "off", :class =>'form-control' %>
              </div>
            </div>
          </div>

          <br />
          
          <div class="form-group">
            <div class="col-sm-offset-3 col-sm-8">
              <div class="actions">
                <%= f.submit "Sign up", :class => 'btn btn-group btn-default btn-animated' %>
              </div>
            </div>
          </div>

        <% end %>
    </div>
  </div>
</div>
