<!-- - main-container start -->
<!-- ================ -->
<section class="main-container">

  <div class="container">
    <div class="row">

      <!-- main start -->
      <!-- ================ -->
      <div class="main col-md-12">

        <!-- page-title start -->
        <!-- ================ -->
        <h1 class="page-title"><%= @book.title %></h1>
        <div class="separator-2"></div>
        <!-- page-title end -->

        <div class="row">
          <div class="col-md-4">
            <!-- pills start -->
            <!-- ================ -->
            <!-- Nav tabs -->
            <!-- <ul class="nav nav-pills" role="tablist">
              <li class="active"><a href="#pill-1" role="tab" data-toggle="tab" title="images"><i class="fa fa-camera pr-5"></i> Photo</a></li>

            </ul> -->
            <!-- Tab panes -->
            <div class="tab-content clear-style">
              <div class="tab-pane active" id="pill-1">
                <div class="owl-carousel content-slider-with-large-controls">
                  <div class="overlay-container overlay-visible">

                    <a href="images/product-1.jpg" class="popup-img overlay-link" title="image title"><i class="icon-plus-1"></i></a>
                  </div>

                </div>

              </div>
            </div>
            <div>
              <img src="<%= @book.image.link %>" alt="">
              <h4> Author: <%= @book.author %></h4>
              <h4> Genre: <%= @book.genre %></h4>
            </div>
            <!-- pills end -->
          </div>
          <div class="col-md-8 pv-30">
            <h2>Description</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem debitis enim facilis porro quia in voluptates praesentium, cupiditate, dolorum. Facilis minus, quidem! Id perspiciatis labore praesentium voluptatibus assumenda odio, magni.</p>
            <h4>Lorem ipsum dolor sit amet consectetur adipisicing elit</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Non sint beatae delectus obcaecati eveniet nulla voluptate odio est laborum veniam? Natus nemo provident, voluptate molestias sint, nam dolor blanditiis minus!</p>
            <hr class="mb-10">
            <div class="clearfix mb-20">
              <span>
                <i class="fa fa-star text-default"></i>
                <i class="fa fa-star text-default"></i>
                <i class="fa fa-star text-default"></i>
                <i class="fa fa-star text-default"></i>
                <i class="fa fa-star"></i>
              </span>
              <a href="#" class="wishlist"><i class="fa fa-heart-o pl-10 pr-5"></i>Wishlist</a>
              <ul class="pl-20 pull-right social-links circle small clearfix margin-clear animated-effect-1">
                <li class="twitter"><a target="_blank" href="http://www.twitter.com"><i class="fa fa-twitter"></i></a></li>
                <li class="googleplus"><a target="_blank" href="http://plus.google.com"><i class="fa fa-google-plus"></i></a></li>
                <li class="facebook"><a target="_blank" href="http://www.facebook.com"><i class="fa fa-facebook"></i></a></li>
              </ul>
            </div>
            <div class="row grid-space-10">

                    <div class="col-md-4">
                    <% if current_user %>
                        <%= button_to "Add to favorite", "/favorites/#{@book.id}", {method: :post, class: "btn btn-success"} %>
                        <%= button_to "Add to reading list", "/lists/#{@book.id}", {method: :post, class: "btn btn-success"} %>
                    <% end %>
                    </div>


            </div>

          </div>
        </div>
      </div>
      <!-- main end -->

    </div>
  </div>
</section>
<!-- main-container end -->
