<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="utf-8">
		<title>BookChatter | Home</title>
		<meta name="description" content="The Project a Bootstrap-based, Responsive HTML5 Template">
		<meta name="author" content="htmlcoder.me">
		<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
		<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
		<%= csrf_meta_tags %>
		<%= action_cable_meta_tag %>

	</head>

	<body class="no-trans front-page ng-app="app"">

		<div class="page-wrapper">
			<div class="header-container">

				<!-- header-top start -->
				<!-- classes:  -->
				<!-- "dark": dark version of header top e.g. class="header-top dark" -->
				<!-- "colored": colored version of header top e.g. class="header-top colored" -->
				<!-- ================ -->
				<div class="header-top dark ">
					<div class="container">
						<div class="row">
							<div class="col-xs-3 col-sm-6 col-md-9">
								<!-- header-top-first start -->
								<!-- ================ -->
								<div class="header-top-first clearfix"></div>
								<!-- header-top-first end -->
							</div>
							<div class="col-xs-9 col-sm-6 col-md-3">

								<!-- header-top-second start -->
								<!-- ================ -->
								<div id="header-top-second" class="clearfix">

									<!-- header top dropdowns start -->
									<!-- ================ -->
									<div class="header-top-dropdown text-right">
										<% if user_signed_in? %>
										Logged in as
										<strong><%= current_user.email %></strong>.
										<%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %>
										<%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
										<% end %>
										<div class="btn-group">
											<% if !current_user %>
											<%= link_to "Sign in", new_user_session_path, :class => 'btn btn-lg btn-gray-transparent btn-animated margin-clear'  %>
											<% end %>
										</div>

									</div>
									<!--  header top dropdowns end -->
								</div>
								<!-- header-top-second end -->
							</div>
						</div>
					</div>
				</div>
				<!-- header-top end -->

				<!-- header start -->
				<!-- classes:  -->
				<!-- "fixed": enables fixed navigation mode (sticky menu) e.g. class="header fixed clearfix" -->
				<!-- "dark": dark version of header e.g. class="header dark clearfix" -->
				<!-- "full-width": mandatory class for the full-width menu layout -->
				<!-- "centered": mandatory class for the centered logo layout -->
				<!-- ================ -->
				<header class="header  fixed    clearfix">

					<div class="container">
						<div class="row">
							<div class="col-md-3 ">
								<!-- header-left start -->
								<!-- ================ -->
									<div class="header-left clearfix">
										<!-- logo -->
										<div id="logo" class="logo">
											<h2><a href="/">Bookchatter</a></h2>
										</div>
									</div>
								</div>

								<div class="col-md-9">

									<!-- header-right start -->
									<!-- ================ -->
									<div class="header-right clearfix">


									<!-- header-right start -->
									<!-- ================ -->


										<!-- main-navigation start -->
										<!-- classes: -->
										<!-- "onclick": Makes the dropdowns open on click, this the default bootstrap behavior e.g. class="main-navigation onclick" -->
										<!-- "animated": Enables animations on dropdowns opening e.g. class="main-navigation animated" -->
										<!-- "with-dropdown-buttons": Mandatory class that adds extra space, to the main navigation, for the search and cart dropdowns -->
										<!-- ================ -->
										<div class="main-navigation  animated with-dropdown-buttons">

											<!-- navbar start -->
											<!-- ================ -->
											<nav class="navbar navbar-default" role="navigation">
												<div class="container-fluid">
													<!-- Collect the nav links, forms, and other content for toggling -->
													<!-- <div class="collapse navbar-collapse" id="navbar-collapse-1"> -->
														<!-- Nav-bar -->
													<div class="collapse navbar-collapse" id="navbar-collapse-1">
														<ul class="nav navbar-nav ">
															<li class="mega-menu">
																<a href="/books" class="navbar-link">Home</a>
															</li>

															<li class="dropdown">
																<a class="dropdown-toggle" data-toggle="dropdown">Chatrooms</a>
																<ul class="dropdown-menu">
																	<li>
																		<a href="/chatrooms/new">New Chatroom</a>
																	</li>
																	<li>
																		<a href="/chatrooms">All Chatrooms</a>
																	</li>
																</ul>
															</li>
															<li class="dropdown">
																<a class="dropdown-toggle" data-toggle="dropdown">Favorite</a>
																<ul class="dropdown-menu">
																	<li>
																		<a href="/favorites">Favorite Books</a>
																	</li>
																</ul>
															</li>
															<li class="dropdown">
																<a class="dropdown-toggle" data-toggle="dropdown">Book List</a>
																<ul class="dropdown-menu">
																	<li>
																		<a href="/lists">TBR List</a>
																	</li>
																</ul>
															</li>
															<li class="dropdown">
																<a class="dropdown-toggle" data-toggle="dropdown">Profile</a>
																<ul class="dropdown-menu">
																	<li>
																		<a href="/users/edit">Edit Account</a>
																	</li>
																</ul>
															</li>
														</ul>
													</div>
												</div>
													<!-- Nav-bar end -->

													<!-- header dropdown buttons -->

													<div class="header-dropdown-buttons hidden-xs ">
														<div class="btn-group dropdown">
															<div class="header-right clearfix">
																<ul class="dropdown-menu-right">
																		<%= form_tag('/books', :method => "get", id: "search-form") do %>
																			<%= text_field_tag :search, params[:search], list: "genre", placeholder: "Search Book or Genre"%>
																			<datalist id="genre">
																				<option value="Historical Fiction">
																				<option value="Romance">
																				<option value="Fiction">
																				<option value="Fantasy">
																				<option value="Thriller">
																				<option value="Biographies">
																			</datalist>
																			<%= submit_tag "Search" %>
																		<% end %>
																</ul>
															</div>
														</div>
													</div>
												</div>
													<!-- header dropdown buttons end-->

												</div>

											</div>
										</nav>
										<!-- navbar end -->

									</div>
								</div>
								</div>


							</div>
				</header>
			</div>
		</div>
		<div class="container">
	      <% flash.each do |key, value| %>
	        <div class="alert alert-<%= key %> alert-dismissible" role="alert"><%= value %>
						<button type="button" class="close" data-dismiss="alert" aria-label="Close">
      			<span aria-hidden="true">&times;</span></button>
					</div>
	      <% end %>
			<%= yield %>
			<footer id="footer" class="clearfix ">

				<!-- .subfooter start -->
				<!-- ================ -->
				<div class="subfooter">
					<div class="container">
						<div class="subfooter-inner">
							<div class="row">
								<div class="col-md-12">
									<p class="text-center">Copyright © 2016
										<a target="_blank" href="">BookChatter</a>. All Rights Reserved</p>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- .subfooter end -->

			</footer>
		</div>
	</body>
</html>
